* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_work_sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.dark01 {
  color: #131313;
}

.dark02 {
  color: #424242;
}

.dark03 {
  color: #727272;
}

.bgc01 {
  background-color: rgb(255, 144, 14, 0.1);
}

.flex {
  display: flex;
}

.primary_btn {
  padding: 21px 25px;
  background-color: #ff900e;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  font-weight: 600;
}

.pry_btn:hover {
  background-color: transparent;
  border: 1px solid #ff900e;
  color: #ff900e;
}

/* Header Styles */

/* Navbar Styles */
nav {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 13px 12px;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
}

nav ul li a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Banner Section Styles */
.banner {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 102px 0px 45px;
}

.banner_content {
  padding-bottom: 50px;
  max-width: 862px;
  margin: 0px auto;
  text-align: center;
}

.banner_content h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.banner_content p {
  line-height: 26px;
  margin-bottom: 32px;
}

.banner img{
    width: 100%;
}