* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_work_sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.main_width {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
}

.dark01 {
  color: #131313;
}

.dark02 {
  color: #424242;
}

.dark03 {
  color: #727272;
}

.clr_org {
  color: #ff900e;
}

.bgc01 {
  background-color: rgb(255, 144, 14, 0.1);
}

.flex {
  display: flex;
}

.primary_btn {
  padding: 21px 25px;
  background-color: #ff900e;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  font-weight: 600;
}

.pry_btn:hover {
  background-color: transparent;
  border: 1px solid #ff900e;
  color: #ff900e;
}

/* Header Styles */

/* Navbar Styles */
nav {
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 13px 12px;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
}

nav ul li a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Banner Section Styles */
.banner {
  padding: 102px 0px 45px;
}

.banner_content {
  padding-bottom: 50px;
  max-width: 862px;
  margin: 0px auto;
  text-align: center;
}

.banner_content h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 24px;
}

.banner_content p {
  line-height: 26px;
  margin-bottom: 32px;
}

.banner img {
  width: 100%;
}

/* Team Section Style */
.teams {
  width: 69%;
  max-width: 1320px;
  margin: 0px auto;
  padding-top: 85px;
  align-items: center;
}

.team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our_features {
  max-width: 537px;
  margin-left: 53px;
}

.our_features h3 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 24px;
}

.our_features h3 span {
  font-weight: bold;
}

.our_features p {
  line-height: 26px;
  margin-bottom: 32px;
}
/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .main_width {
    width: 100%;
    margin: 0px auto;
  }
  nav,
  nav ul {
    flex-direction: column;
  }

  .teams {
  width: 100%;
  margin: 0px auto;
  padding-top: 85px;
  align-items: center;
  flex-direction: column;
}

.team_img_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.our_features {
  margin: 0px auto;
  padding: 0px 20px;
}

}
