* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_work_sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.main_width {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
}

.dark01 {
  color: #131313;
}

.dark02 {
  color: #424242;
}

.dark03 {
  color: #727272;
}

.clr_org {
  color: #ff900e;
}

.bgc01 {
  background-color: rgb(255, 144, 14, 0.1);
}

.flex {
  display: flex;
}

.primary_btn {
  padding: 21px 25px;
  background-color: #ff900e;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  font-weight: 600;
}

.primary_btn:hover {
  background-color: transparent;
  border: 1px solid #ff900e;
  color: #ff900e;
}

/* Header Styles */

/* Navbar Styles */
nav {
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 13px 12px;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
}

nav ul li a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Banner Section Styles */
.banner {
  padding: 102px 0px 45px;
}

.banner_content {
  padding-bottom: 50px;
  max-width: 862px;
  margin: 0px auto;
  text-align: center;
}

.banner_content h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 24px;
}

.banner_content p {
  line-height: 26px;
  margin-bottom: 32px;
}

.banner img {
  width: 100%;
}

/* Team Section Style */
.teams {
  width: 69%;
  max-width: 1320px;
  margin: 0px auto;
  padding-top: 85px;
  align-items: center;
}

.team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our_features {
  max-width: 537px;
  margin-left: 53px;
}

.our_features h3 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 24px;
}

.our_features h3 span {
  font-weight: bold;
}

.our_features p {
  line-height: 26px;
  margin-bottom: 32px;
}

/* Features Section Style */
.features {
  margin: 130px auto;
  gap: 150px;
}

#features_info_title {
  border-left: 5px solid #ff900e;
}

.features_info h1 {
  font-size: 2.8rem;
  font-weight: bold;
  width: 468px;
  padding-left: 21px;
  margin-bottom: 24px;
}

.features_info p {
  line-height: 26px;
  margin-bottom: 30px;
}

.features_box {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 #00000021;
  border-radius: 8px;
}

.features_box h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.features_box p {
  line-height: 26px;
}

#experience_badge {
  padding: 46px 42px;
  margin-left: -92px;
  margin-top: -123px;
}

#experience_year {
  font-size: 4rem;
  font-weight: bold;
  line-height: 70px;
}

#experience {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 40px;
}

/* Facts Section Style */
.facts {
  margin-bottom: 180px;
}

.facts h3 {
  font-size: 2.8rem;
  font-weight: bold;
}

.factsP {
  line-height: 26px;
  width: 542px;
}

.card_box {
  padding: 100px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cards {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  padding: 46px 0px;
  margin: 0px auto;
  text-align: center;
}

.cards h2 {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 10px 0px 5px;
}

.cards p {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Sponspors Section Style */
.sponspors {
  text-align: center;
}

.sponspors_info {
  width: 542px;
  margin: 0px auto;
}

.sponspors_info h3 {
  font-size: 2.8rem;
  font-weight: bold;
}

.sponspors_info p {
  line-height: 26px;
  padding: 24px 0px 50px;
}

.sponspors_image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponspors_image img {
  filter: grayscale(100%);
}

/* Footer Section Style */
.footer_section {
  margin: 130px auto;
  padding: 39px 0px;
  text-align: center;
  background-color: rgb(255, 144, 14, 0.1);
  border-radius: 8px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .main_width {
    width: 100%;
    margin: 0px auto;
  }
  .ress_padd {
    padding: 0px 20px;
  }

  nav,
  nav ul {
    flex-direction: column;
  }

  .teams {
    width: 100%;
    margin: 0px auto;
    padding-top: 85px;
    align-items: center;
    flex-direction: column;
  }

  .team_img_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .our_features {
    margin: 30px auto;
  }

  .features {
    flex-direction: column;
    margin-top: 30px;
  }

  .features_info h1 {
    width: 100%;
  }

  .features_image img {
    width: 100%;
  }

  #experience_badge {
    padding: 46px 42px;
    margin-left: 5px;
    margin-top: -70px;
  }

  .facts {
    margin-top: 50px;
  }

  .factsP {
    width: 100%;
  }

  .card_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .sponspors_info {
    width: 100%;
  }
  .sponspors_image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
  }

  .footer_section {
    margin: 50px auto 0px;
  }
}
